In [25]:
##Q1. Create one variable containing following type of data:
#(i) string
s=('chandu is student')

In [2]:
type(s)

str

In [26]:
#(ii) list
l=[1,3,8,'ch',True]

In [4]:
type(l)

list

In [28]:
#(iii) float
f=10.1

In [29]:
#(iv) tuple
type(f)

float

In [8]:
t=(10,5,True,)

In [10]:
type(t)

tuple

In [30]:
#Q2. Given are some following variables containing data:
#What will be the data type of the above given variable.
var1=''

In [12]:
type(var1)

str

In [13]:
var2 = '[ DS , ML , Python]'

In [14]:
type(var2)

str

In [15]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [16]:
type(var3)

list

In [3]:
var4 = 1.

In [4]:
type(var4)

float

In [17]:
10/2

5.0

In [19]:
20%3

2

In [20]:
20//5

4

In [21]:
2**2

4

In [25]:
l=[10,3.0,True,3+5j,'god',30,50,50,70,5.6]

In [26]:
len(l)

10

In [5]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
l=[10,3.0,True,3+5j,'god',30,50,50,70,5.6]
for i in l:
    print(i,type(i))

10 <class 'int'>
3.0 <class 'float'>
True <class 'bool'>
(3+5j) <class 'complex'>
god <class 'str'>
30 <class 'int'>
50 <class 'int'>
50 <class 'int'>
70 <class 'int'>
5.6 <class 'float'>

In [6]:
##Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible
A=70
B=14
t=0
while A>=0:
    prev_A=A
    A=A-B
    t+=1
t-=1
if prev_A==0:
    print("Divisible by",t,"times")
else:

    print("Not divisible")

Divisible by 5 times

In [17]:
len(l)

25

In [7]:
#Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.
l=[55,66,8,5,4,5,20,38,6,4,5,5,8,2,8,2,5,88,44,22,7,9,15,18,23]
for i in l:
    if i%3==0:
        print('element is divisible by 3')
    else:
        print('element is not divisible by 3')

element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is divisible by 3
element is divisible by 3
element is not divisible by 3

In [11]:
##Q7. What do you understand about mutable and immutable data types? Give examples for both showi#ng
#this property.

In [12]:
#mutable means value can be reassigned
#list is mutable
l=[10,3.0,True,3+5j,'god',30,50,50,70,5.6]

In [18]:
l[0]=20

In [19]:
l

[20, 3.0, True, (3+5j), 'god', 30, 50, 50, 70, 5.6]

In [45]:
#immutable means value cannot be reassigned
#tuple is immutable
s=('bbkkkkkkk','25')

In [41]:
s

'bbkkkkkkk'

In [46]:
type(s)

tuple

In [49]:
s[0]=('dhfn')

TypeError: 'tuple' object does not support item assignment

In [50]:
g=('hjvhvj')

In [51]:
g

'hjvhvj'

In [52]:
type(g)

str

In [55]:
g[2:4]=('gv')

TypeError: 'str' object does not support item assignment